@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwindcss-react-aria-components';

@source "../node_modules/ancientui";

@variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(0.685 0.169 237.323);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);

  --accent: oklch(0.685 0.169 237.323);
  --accent-foreground: oklch(1 0 0);

  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);

  --success: oklch(0.596 0.145 163.225);
  --success-foreground: oklch(1 0 0);

  --warning: oklch(0.828 0.189 84.429);
  --warning-foreground: oklch(0.279 0.077 45.635);

  --danger: oklch(0.577 0.245 27.325);
  --danger-foreground: oklch(0.971 0.013 17.38);

  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.685 0.169 237.323);

  --overlay: oklch(1 0 0);
  --overlay-foreground: oklch(0.141 0.005 285.823);

  --navbar: oklch(0.985 0 0);
  --navbar-foreground: oklch(0.141 0.005 285.823);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --radius-lg: 0.5rem;
  --radius-xs: calc(var(--radius-lg) * 0.5);
  --radius-sm: calc(var(--radius-lg) * 0.75);
  --radius-md: calc(var(--radius-lg) * 0.9);
  --radius-xl: calc(var(--radius-lg) * 1.25);
  --radius-2xl: calc(var(--radius-lg) * 1.5);
  --radius-3xl: calc(var(--radius-lg) * 2);
  --radius-4xl: calc(var(--radius-lg) * 3);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);

  --primary: oklch(0.588 0.158 241.966);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);

  --accent: oklch(0.588 0.158 241.966);
  --accent-foreground: oklch(1 0 0);

  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);

  --success: oklch(0.596 0.145 163.225);
  --success-foreground: oklch(1 0 0);

  --warning: oklch(0.828 0.189 84.429);
  --warning-foreground: oklch(0.279 0.077 45.635);

  --danger: oklch(0.577 0.245 27.325);
  --danger-foreground: oklch(0.971 0.013 17.38);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.588 0.158 241.966);

  --overlay: oklch(0.17 0.006 285.885);
  --overlay-foreground: oklch(0.985 0 0);

  --navbar: oklch(0.21 0.006 285.885);
  --navbar-foreground: oklch(0.985 0 0);

  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@theme inline {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    var(--font-geist-mono), 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco',
    'Consolas', '"Liberation Mono"', '"Courier New"', 'monospace';

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-overlay: var(--overlay);
  --color-overlay-foreground: var(--overlay-foreground);

  --color-navbar: var(--navbar);
  --color-navbar-foreground: var(--navbar-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --animate-blink: blink 1.4s both infinite;

  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
}

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/** Custom Container **/
@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    padding-inline: 2rem;
    max-width: 1440px;
  }
}
